body{
    background-color: black;
}
body .nav{
    color:royalblue;
}
#header img {
max-width: 100%;
height: 30%:
}

#header {
background-color:black;
margin-bottom: 5px;
}



#flex-container {
 display: flex; flex-flow: row wrap;
  
}

#main, #playground, #Honours {
  border: 1px solid black;
  margin: 5px;
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}
#main{
    width:auto;
    -webkit-column-count: 3;
}
#main h3{
    color:blueviolet;
}
#main h2{
    font-size: 30px;
    color:darkcyan;
}

#main img{
    float:left;
    max-width:200px;
}

#main div{
    clear: none;
}
#main h4{
    display: none;
}

#playground {
 width:100%;
color: cadetblue;
}

#playground h2{
    color:greenyellow;
    font-size:30px;
    font-family: fantasy;
}

#playground img{
    min-width:100%;
    height:30%;
}
#Honours h2{
    text-align: center;
    font-family:cursive;
  color: darkmagenta;  
}

#Honours h3{
    color:fuchsia;
    margin: 2px;
}

#Honours{
    background-image: url(images/H2.jpg);
    background-size:cover;
    width: auto;
    height: auto;

}

@media only screen and (max-width:1000px) {
    #Honours{

        background-image: url(images/H1.jpg);
        background-repeat:no-repeat;
    }
    #playground{
        background-image: url(images/P2.jpg);
         background-repeat:no-repeat;
        background-size:cover;
        width: auto;
        height:auto;
    }
    
    #playground img{
        display:none;
    }
    #main h4{
        display: inline;
        color: aqua;
    }    
    #main{
            background-image: url(images/MSN.jpg);
        background-size: cover;
        width: auto;
        height: auto;
        background-repeat:no-repeat;
    }
    #main h3{
        display: none;
    }

}