body{
    background-image: url(images/BG.jpg);
     background-repeat:no-repeat;
    background-size: cover;
    color:aquamarine;
    padding: 10px;
}

.form{
    margin-bottom: 10px;   
}
#myTopnav h3{
    font-size: 27px;
    color: #d02929;
}
#myTopnav {
    align-content: center;
}

.topnav {
    background-color: #8e1821;
    overflow: hidden;
    height: auto;
    width: 100%;
    order: 0;
    border: 1px solid black;
    border-radius: 5px;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin: 20px 20px 30px 10px;
    text-decoration: none;
    font-size: 30px;
}
@media only screen and (max-width: 900px) {
    #myTopnav a {font-size: 20px;}
    #myTopnav h3{font-size: 29px;}
}
@media only screen and (max-width: 500px) {
    #myTopnav a {font-size: 15px;}
    #myTopnav h3{font-size: 29px;}
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}