body {background-color: #d02929}
#flex-container {
    display: block;
    flex-flow: row wrap;
}
#flex-container h3{
    font-size: 27px;
    color: #d02929;
}

@media only screen and (max-width: 912px) {
    #flex-container h3{font-size: 21px;}
}
/* Add a black background color to the top navigation */

#myTopnav {
    align-content: center;
}

.topnav {
    background-color: #0d1f80;
    overflow: hidden;
    height: auto;
    width: 100%;
    order: 0;
    border: 1px solid black;
    border-radius: 5px;
}

#mainbanner {
    order: 1;
}

#mainbanner img {
    width: 100%;
    height: 100%;
}

.video {
    border-radius: 8px;
    background-color: black;
    order: 2;
    justify-content: center;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video1-container {
    border: 1px solid black;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    display: inline-;
}

.video2-container {
    border: 1px solid black;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    display: inline-;
}

.video3-container {
    border: 1px solid black;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    display: inline-;
}






/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin: 20px 20px 30px 10px;
    text-decoration: none;
    font-size: 30px;
}
@media only screen and (max-width: 900px) {
    #myTopnav a {font-size: 20px;}
    #flex-container h3{font-size: 29px;}
}
@media only screen and (max-width: 500px) {
    #myTopnav a {font-size: 15px;}
    #flex-container h3{font-size: 29px;}
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}